body{
    background-image: url("зображення/фон.jpg");
}
.C2_Block_2{
    display: flex;
    }
.C2_Block1_h2_1{
    color: white;
    margin-left: 500px;
    text-align: center;
    width: 290px;
    margin-top: 50px;
    font-family: "Montserrat-Light";
}
.C2_Block1_h5_1{
    color: #bbc4eb;
    margin-left: 470px;
    text-align: center;
    width: 345px;
    font-size: 12px;
    font-family: "Montserrat-Light";
}
.C2_Block2_img_1{
    position: relative;
    z-index: 1;
    height: 96px;
    width: 95px;
    margin-left: 92px;
    margin-top: 17px;
}
.C2_Block2_text_1{
    font-size:25px;
    margin-left: 115px;
    color: white;
    font-family: "Montserrat-Medium";
}
.C2_Block2_text_2{
    font-size:  20px;
    text-align: center;
    color: white;
    font-family: "Montserrat-Medium";
}
.C2_Block2_text_3{
    color: white;
    text-align: center;
    color: #cdd6ff;
}
.C2_Block2_a_1{
    margin-left: 95px;
    background-color: #007afa;
    width: 90px;
    text-align: center;
}
a.C2_Block2_a_1{
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.C2_mini_Block_1{
    background-color: #090f51;
    margin-left: 170px;
    height: 290px;
    width: 270px;
    margin-top: 25px;
}
.C2_mini_Block_2{
    background-color: #090f51;
    margin-left: 70px;
    height: 290px;
    width: 270px;
    margin-top: 25px;
}