body {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    text-emphasis: none;
    color: #007afa;
}

header {
    width: 100%;
}

.Logo {
    width: 64px;
    height: 64px;
}

.top_bar {
    background-color: rgb(58, 67, 250);
    height: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.top_bar_item {
    color: rgb(205, 214, 255);
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway-Regular";
    float: left;
}

.middle_bar {
    margin-left: 20%;
    margin-right: 20%;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    float: right;
    margin-top: 25px;
}

.nav_item {
    color: #181818;
    font-size: 16px;
    font-weight: 400;
    font-family: "Raleway-Medium";
    margin-left: 20px;
}

.now_item {
    color: #3a43fa;
}
  